.kioskMarker {
  width: 15px;
  height: 30px;
}
.kioskMarker svg {
  transform: translate(-50%, -50%);
}

.mapCenterMarker:before,
.mapCenterMarker:after {
  content: "";
  position: absolute;
  width: 10px;
  height: 10px;
  left: 0;
  top: 0;
  margin-left: -5px;
  margin-top: -5px;
  border-radius: 50%;
  box-shadow: 0 0 0 0 rgba(76, 165, 255, 1);
  transform: scale(1);
}

.mapCenterMarker:before {
  animation: pulse-animation 2s infinite;
  background-color: rgba(76, 165, 255, 1);
}

.mapCenterMarker:after {
  animation: pulse-animation 2s infinite 0.4s;
}

@keyframes pulse-animation {
  0% {
    transform: scale(0.8);
    box-shadow: 0 0 0 0 rgba(76, 165, 255, 0.7);
  }
  70% {
    transform: scale(1.2);
    box-shadow: 0 0 0 30px rgba(76, 165, 255, 0);
  }
  100% {
    transform: scale(0.8);
    box-shadow: 0 0 0 0 rgba(76, 165, 255, 0);
  }
}