.kioskMarker {
  width: 25px;
  height: 40px;
}
.kioskMarker svg {
  transform: translate(-50%, -50%);
}

.mapCenterMarker:before,
.mapCenterMarker:after {
  content: "";
  position: absolute;
  width: 10px;
  height: 10px;
  left: 0;
  top: 0;
  margin-left: -5px;
  margin-top: -5px;
  border-radius: 50%;
  box-shadow: 0 0 0 0 rgba(76, 165, 255, 1);
  transform: scale(1);
}

.mapCenterMarker:before {
  animation: pulse-animation 2s infinite;
  background-color: rgba(76, 165, 255, 1);
}

.mapCenterMarker:after {
  animation: pulse-animation 2s infinite 0.4s;
}

@keyframes pulse-animation {
  0% {
    transform: scale(0.8);
    box-shadow: 0 0 0 0 rgba(76, 165, 255, 0.7);
  }
  70% {
    transform: scale(1.2);
    box-shadow: 0 0 0 30px rgba(76, 165, 255, 0);
  }
  100% {
    transform: scale(0.8);
    box-shadow: 0 0 0 0 rgba(76, 165, 255, 0);
  }
}

.mapbox-component {
  overflow: hidden;
  display: flex;
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  bottom: 0;
}

.view {
	grid-template-columns: 1fr;
}

.mapbox-admin-form {
  background-color: rgba(0, 0, 0, 0.05);
  padding: 15px;
  border: 1px solid #ccc;
  min-width: 400px;
}

.mapbox-info {
  color: #31708f;
  background-color: #d9edf7;
  border-color: #bce8f1;

  padding: 15px;
  border: 1px solid transparent;
  border-radius: 4px;

  font-size: 14px;
  line-height: 1.42;
}

.hide {
  display: none !important;
}

/* ////////////////////////////////////o */

#threejs-map-wrapper {
	position: absolute;
	width: 100%;
	height: 100%;
	top: 0;
	left: 0;
	flex: 1;
	user-select: none;
}

#threejs-map {
	width: 100%;
	height: 100%;
	position: relative;
	overflow: hidden;
}

#map_controls {
	position: absolute;
	top: 10px;
	right: 10px;
	z-index: 1;
}

#map_controls .btn_group {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: flex-end;
}

#map_controls .btn_group.floors {
	align-items: normal;
}

#map_controls .btn_group + .btn_group {
	margin-top: 15px;
}

#map_controls .control_btn {
	color: #666;
	background-color: whitesmoke;
	font-size: 15px;
	font-weight: bold;
	padding: 6px 15px;
	border: 1px solid #ccc;
	cursor: pointer;
}

#map_controls .control_btn + .control_btn {
	margin-top: -1px;
}

#map_controls .control_btn.active {
	background-color: #1075b7;
	border-color: #1075b7;
	color: #fff;
	cursor: default;
}

#map_controls .zoom_btns {
	flex-direction: row;
}
#map_controls .zoom_btns .control_btn {
	font-size: 17px;
	padding: 0;
	width: 36px;
	height: 32px;
	display: flex;
	align-items: center;
	justify-content: center;
}

#map_controls .control_btn.clear_route {
	display: none !important;
}

#threejs-map .amenities {
	position: absolute;
	right: 0;
	top: 50%;
	border-bottom: none;
	text-align: center;
	transform: translateY(-50%);
	z-index: 1;
	cursor: default;
	display: none;
}

#threejs-map .amenities .amenity {
	cursor: pointer;
	display: flex;
	align-items: center;
	background-color: #000;
	transition: opacity 300ms;
	opacity: 0.7;
}

#threejs-map .amenities .amenity:hover {
	opacity: 1;
}

#threejs-map .amenities .amenity .img img {
	width: 3.2vw;
	height: 3.2vw;
	object-fit: contain;
	vertical-align: bottom;
	padding: 0.6vw;
}

#threejs-map .amenities .amenity .img svg {
	width: 3.2vw;
	height: 3.2vw;
	object-fit: contain;
	vertical-align: bottom;
	padding: 0.6vw;
}

#threejs-map .amenities .amenity .name {
	font-size: 13px;
	padding-left: 6px;
	display: none;
	color: #fff;
}

#escalator_elems {
	display: none;
}

#escalator_elems .element {
	position: absolute;
	top: -18px;
	left: -18px;
	width: 36px;
	height: 36px;
	border: 4px solid #ccc;
	background-color: #4ea5ff;
	box-sizing: border-box;
	border-radius: 50%;
	/* background-image: url("img/icons/escalator.svg"); */
	background-size: 80%;
	background-repeat: no-repeat;
	background-position: center;
	cursor: pointer;
	z-index: 1;
}
#escalator_elems .element:hover {
	z-index: 2;
}

#escalator_elems .element .label {
	display: none;
	background-color: #fff;
	white-space: nowrap;
	position: absolute;
	padding: 0 12px;
	height: 30px;
	border-radius: 15px;
	align-items: center;
	color: #444;
	font-family: Calibri;
	font-size: 18px;
	font-weight: bold;
	left: 50%;
	top: 0;
	transform: translate(-50%, calc(-100% + -12px));
	box-shadow: 2px 2px 6px 0px rgba(0, 0, 0, 0.3);
}
/* #escalator_elems .element:hover .label { */
#escalator_elems .element .label {
	display: flex;
}

#escalator_elems .element .label:before {
	content: "";
	position: absolute;
	top: calc(100% - 8px);
	left: 50%;
	transform: translateX(-50%) rotate(45deg);
	border: 6px solid #fff;
	border-color: transparent #fff #fff transparent;
}

.stats {
	position: absolute !important;
}

